# Clean the raw count files

In [2]:
import pandas as pd
import glob
import os
import numpy as np

In [3]:
#data=pd.read_csv('featurecounted/361_S49_L001.bam_p_featurecounts.txt', sep='\t')

#get all the files names  
files = glob.glob('/counts/*.genename_count.txt')

#example of reading one file into dataframe
df1 = pd.read_csv('/home/kaifuyang/Desktop/Ranalab/Server20MRepeat/counts/361_S49.genename_count.txt', sep = '\t', header = None)
df1.rename(columns={0: "geneid", 1:"counts"}, inplace=True)
df1

                       geneid   counts
0               0610005C13Rik        5
1               0610006L08Rik        0
2               0610009B22Rik      146
3               0610009E02Rik        5
4               0610009L18Rik       28
...                       ...      ...
55367            __no_feature  5792537
55368             __ambiguous  1255244
55369         __too_low_aQual   563107
55370           __not_aligned   650670
55371  __alignment_not_unique  3175574

[55372 rows x 2 columns]

In [26]:
#read all the files and concatenate them into one dataframe
df = pd.DataFrame()

for idx, f in enumerate(files):
    
    df2 = pd.read_csv(f, sep = '\t', header = None)
    df2.rename(columns={0: "geneid", 1:"counts" + f[-26:-19]}, inplace=True)
    
    if (idx == 0):
        df = df2
    else:
        df = pd.merge(df, df2, on = 'geneid')

df = df.sort_index(axis=1)
df.set_index('geneid', inplace = True)
df.head()

,counts361_S49,counts362_S50,counts363_S51,counts364_S52,counts366_S53,counts367_S54,counts368_S55,counts369_S56,counts377_S59,counts378_S60,counts379_S61,counts380_S62
geneid,,,,,,,,,,,,
0610005C13Rik,5,7,13,12,7,8,10,7,6,10,8,11
0610006L08Rik,0,0,0,0,0,0,0,0,0,0,0,3
0610009B22Rik,146,206,189,185,202,149,217,212,166,171,165,122
0610009E02Rik,5,2,8,8,8,4,9,3,2,14,5,9
0610009L18Rik,28,29,27,39,35,28,30,21,21,24,22,27

In [27]:
len(df)

55372

In [29]:
#Since we are only comparing two groups at a time, we need to separate 106KO samples and 25KO samples
#adjust according to circumstances

df106 = df.drop(columns=['counts377_S59', 'counts378_S60', 'counts379_S61', 'counts380_S62'])
df25 = df.drop(columns = ['counts361_S49', 'counts362_S50', 'counts363_S51', 'counts364_S52'])

In [30]:
#output files as csv
os.makedirs('/expression', exist_ok=True)  

df106.to_csv('/expression/miR106NTC.csv')
df25.to_csv('/expression/NTCmiR25.csv')